<html>
  <head>

  </head>
  <body class="not-found-container">
    <div class="temp-css">
      <div class="notfound">
        <div class="notfound-404">
          <h1>404</h1>
        </div>
        <h2>Oups! That page could not be found.</h2>
        <div class="notfound">
          <img src="https://media.giphy.com/media/9J7tdYltWyXIY/giphy.gif">
        </div>
      </div>
    </div>
  </body>
</html>